# Ignore compiled Java bytecode
*.class

# Ignore compiled Python bytecode
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build output
/out/

# Ignore dependency directories
/target/
/node_modules/
