name: Classroom Workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'

      - name: Configure Git Identity
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"

      - name: Build and Test
        run: |
          javac HelloWorld.java
          javac pendataan.java

      - name: Commit and Push Changes
        run: |
          git add .
          git commit -m "Add Java files"
          git push
